{{>layouts/header}}
<h1 class="display-5 text-primary fw-bold text-center">🎬 영화 목록</h1>

<table class="table table-bordered align-middle text-center">
    <thead class="table-dark">
    <tr>
        <th>제목</th>
        <th>이미지</th>
        <th>평점</th>
        <th>작성자</th>
    </tr>
    </thead>
    <tbody>
    {{#MovieDtos}}
        <tr>
            <td class="align-middle">{{title}}</td>
            <td>
                <img src="{{imageUrl}}" alt="{{title}}" class="img-fluid" style="max-height: 180px;">
            </td>
            <td class="align-middle">{{score}}</td>
            <td class="align-middle">{{memberName}}</td>
        </tr>
    {{/MovieDtos}}
    </tbody>
</table>
{{#MemberDto}}
<div class="text-center mt-3">
    <form action="/movie/new/{{id}}" method="get">
        <button type="submit" class="btn btn-primary">추가</button>
    </form>
</div>
{{/MemberDto}}
{{>layouts/footer}}
