{{>layouts/loginheader}}
<div class="container mt-5">
    <div class="row justify-content-start">
        <div class="col-md-6">
        <form action="/golist" method="post">
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">아이디</label>
                <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp"
                name="name">
                <div id="idHelp" class="form-text">We'll never share your id with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1"
                name="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
    </div>
</div>
{{>layouts/footer}}