{{#MemberId}}
{{>layouts/header}}
<div class="bg-light p-3 rounded shadow-sm mb-4">
    <h2 class="text-left text-dark m-0">🎥 영화 등록</h2>
</div>

<form class="container mt-4" action="/movie/plus/{{id}}" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" style="width: 300px;">
    </div>
    <div class="mb-3">
        <label class="form-label">평점</label>
        <input class="form-control" name="score" style="width: 60px;" maxlength="4">
    </div>
    <div class="mb-3">
        <label class="form-label">개봉일</label>
        <input type="text" class="form-control" name="openDay" style="width: 300px;">
    </div>
    <div class="mb-3">
        <label class="form-label">등급</label>
        <input type="text" class="form-control" name="limitAge" style="width: 300px;">
    </div>
    <div class="mb-3">
        <label class="form-label">장르</label>
        <input type="text" class="form-control" name="genre" style="width: 300px;">
    </div>
    <div class="mb-3">
        <label class="form-label">국가</label>
        <input type="text" class="form-control" name="country" style="width: 300px;">
    </div>
    <div class="mb-3">
        <label class="form-label">러닝타임</label>
        <input type="text" class="form-control" name="runningTime" style="width: 300px;">
    </div>
    <div class="mb-3">
        <label class="form-label">배급</label>
        <input type="text" class="form-control" name="company" style="width: 300px;">
    </div>
    <div class="mb-3">
        <label class="form-label">이미지 업로드</label>
        <input type="file" class="form-control" name="imageFile" accept="image/*" style="width: 300px;">
    </div>
    <div class="mb-3">
        <label class="form-label">상세 정보</label>
        <textarea class="form-control" name="infoText" rows="5" style="width: 300px;"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">등록</button>
    <a href="/getlist/{{id}}">돌아가기</a>
</form>
{{/MemberId}}
{{>layouts/footer}}
