{{>layouts/header}}

<form class="container" action="/movie/plus" method="post">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">평점</label>
        <textarea class="form-control" rows="3" name="score"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">등록</button>
    <a href="/getlist">돌아가기</a>
</form>

{{>layouts/footer}}
